<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whhp.k9501.mapper.BillMapper">
  <resultMap id="BaseResultMap" type="com.whhp.k9501.entity.Bill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="outDate" jdbcType="DATE" property="outdate" />
    <result column="roomId" jdbcType="INTEGER" property="roomid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="inRoomInfoId" jdbcType="INTEGER" property="inroominfoid" />
    <result column="totalMoney" jdbcType="DECIMAL" property="totalmoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, outDate, roomId, userId, inRoomInfoId, totalMoney
  </sql>
  <select id="selectByExample" parameterType="com.whhp.k9501.entity.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whhp.k9501.entity.Bill">
    insert into bill (id, outDate, roomId, 
      userId, inRoomInfoId, totalMoney
      )
    values (#{id,jdbcType=INTEGER}, #{outdate,jdbcType=DATE}, #{roomid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{inroominfoid,jdbcType=INTEGER}, #{totalmoney,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whhp.k9501.entity.Bill">
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="outdate != null">
        outDate,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="inroominfoid != null">
        inRoomInfoId,
      </if>
      <if test="totalmoney != null">
        totalMoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outdate != null">
        #{outdate,jdbcType=DATE},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="inroominfoid != null">
        #{inroominfoid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whhp.k9501.entity.Bill">
    update bill
    <set>
      <if test="outdate != null">
        outDate = #{outdate,jdbcType=DATE},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="inroominfoid != null">
        inRoomInfoId = #{inroominfoid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        totalMoney = #{totalmoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whhp.k9501.entity.Bill">
    update bill
    set outDate = #{outdate,jdbcType=DATE},
      roomId = #{roomid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      inRoomInfoId = #{inroominfoid,jdbcType=INTEGER},
      totalMoney = #{totalmoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>